*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    width: 100%;
    display: flex;
    justify-content: center;
}
#root{
    max-width: 1440px;
    width: 100%; 
    padding:2px 16px;  
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    padding: 16px;
    padding-left: 2px;
    padding-right: 2px;
    border-top: 2px solid;
    border-bottom: 2px solid;
    &>div{
        display: flex;
        align-items: center;
        gap: 32px;
        &>ul{
            display: flex;
            gap: 48px;
            a{
                color: black;
            }
        }
        button{
           background-color: white;
           border: 1px solid;
           border-radius: 50px;
           color: black;
           padding: 12px 24px;
        }
        .btn{
            color: #fff;
            background-color: #3139FB;
        }
    }
        
}
section.text_container{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    div{
        display: flex;
        flex-direction: column;
        align-items: start;
        border-bottom: 1px solid;
        span{
            color: #fff;
            background-color: #3139FB;
            border-radius: 10px;
            padding: 0px 12px 0px 12px;
             }
        h1{
            font-size: 96px;
            font-weight: 700;
            line-height: 96px;
        }
}
.about_website{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .about_website_text{
        padding: 32px;
        display: flex;
        align-items: center;
        background-color: #FFFADD;
        border-radius: 32px;
        p{
            text-align: left;
            font-size: 24px;
        }
    }
    
}
}
